@import "font-awesome/scss/font-awesome";
@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

//Header hide/show on scroll
body {
  padding-top: $header-height;
}

header {
  height: $header-height;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 999;
}

.nav-up {
  top: -($header-height+5px);
}

.skill-label {
	@include label (
		$bg: $hover-color,
		$radius: 4px
	);
}

#contact, #about {
	margin-top: $section-margin;
}


//CONTACT STYLES
#contact {
   color: #FFFFFF;
}
#contact h1 {
	font-family: $font-face;
}

#contact ul {
	margin-top: 20px;
}

.social-icon {
	color: #FFFFFF;
	font-size: 2.3em;
}

.social-icon:hover {
	color: mix(#FFFFFF, #000000, 70%);
	transform: scale(1.2);
}

.icon-styles {
	list-style-type: none;
	text-align: center;
}

.icon-styles > li {
	display: inline-block;
	padding-left: 2px;
}

//ABOUT STYLES
#about p {
	font-size: rem-calc(22);
}

#about {
   background-color: #FF9900;
}

#about p:first-of-type {
   padding-top: $section-padding;
}

#about p:last-of-type {
   padding-bottom: $section-padding;
}

//EXPERIENCE STYLES
#experience {
   background-color: $red-color;
}

// SKILLS STYLES
#skills {
   background-color: #FFFFFF;
}

.content {
   padding-top: $section-padding;
   padding-bottom: $section-padding;
}

//FOOTER STYLES
footer {
	background-color: $primary-color;
  color: #FFFFFF;
	font-weight: normal;
	padding-top: 5px;
	padding-bottom: 5px;
}

footer a {
	color: #FFFFFF;
}

footer a:hover {
	color: #000000;
}